<!DOCTYPE html>
<html>
<script src="http://flaviusmatis.github.io/simplePagination.js/"></script>

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="Seventh Square doesn’t just give you a platform to reach the end consumer. We also help sellers reach institutions, producers & professionals like Builders, Construction Firms, Architects & Interior Designers as well as small businesses who are looking to buy in bulk.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> Selling in Bulk to Businesses | Seventh Square | Building Materials & Home Interiors Marketplace</title>
  {% include "styles.html" %}
  {% include "navigation.html" %}
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

    body {
      font-family: "Poppins", sans-serif !important;
    }
  </style>
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>

  <div class="row" style="margin: 0px;">
    <div class="col-1 col-md-3"></div>
    <h2 class="text-center text-capitalize"
      style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
      Industry</h2>
    <h5 class="text-center"
      style="color: black;font-weight: 600; font-family: 'Crimson Text', serif;font-style: italic;">About the industry
      and markets</h5>

    <div class="container my-5 mx-4">
      <div class="row mx-4">
        <div class="col-lg-4 col-md-12 p-2">
          <div class="position-relative h-60"
            style="min-height: 300px; background-image: url(https://seller.seventhsq.com/static/staticfiles/img/b5.png); background-position: center; background-size: cover;">
            <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
              style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
              <a href="/Industry/Furniture_E-commerce_in_India/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
              <small>Industry</small>
            </a>
              <h3 class="h6"><a href="/Industry/Furniture_E-commerce_in_India/" class="text-white" style="line-height: 1.6;">Furniture E-commerce in India</a>
              </h3>
              <div class="mt-2">
                <a href="/Industry/Furniture_E-commerce_in_India/" class="pl-2 text-white mr-2" style="border-left: 3px solid #cf961b;"><small>Read
                    More</small></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 p-2">
          <div class="position-relative h-60"
            style="min-height: 300px; background-image: url('https://seller.seventhsq.com/static/staticfiles/img/blog/Seller Blog - Industry 2.png'); background-position: center; background-size: cover;">
            <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
              style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
              <a href="/Industry/Trends_in_the_Building_Materials_Industry/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                <small>Industry</small>
              </a>
              <h3 class="h6"><a href="/Industry/Trends_in_the_Building_Materials_Industry/" class="text-white" style="line-height: 1.6;">Trends in the Building Materials
                  Industry</a></h3>
              <div class="mt-2">
                <a href="/Industry/Trends_in_the_Building_Materials_Industry/" class="pl-2 text-white mr-2" style="border-left: 3px solid #cf961b;"><small>Read
                    More</small></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 p-2">
          <div class="position-relative h-60"
            style="min-height: 300px; background-image: url('/static/staticfiles/img/blog/Industry3.png'); background-position: center; background-size: cover;">
            <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
              style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
              <a href="/Industry/How_Cement_Manufacturers_can_grow_by_selling_online/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                <small>Industry</small>
              </a>
              <h3 class="h6"><a href="/Industry/How_Cement_Manufacturers_can_grow_by_selling_online/" class="text-white" style="line-height: 1.6;">How Cement Manufacturers can grow by selling online?
                  Industry</a></h3>
              <div class="mt-2">
                <a href="/Industry/How_Cement_Manufacturers_can_grow_by_selling_online/" class="pl-2 text-white mr-2" style="border-left: 3px solid #cf961b;"><small>Read
                    More</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-4">
        <div class="col-lg-6 col-md-12 p-2">
          <div class="position-relative h-60"
            style="min-height: 300px; background-image: url('/static/staticfiles/img/blog/Industry4.png'); background-position: center; background-size: cover;">
            <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
              style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
              <a href="/Industry/Construction_Steel_market_in_India_and_Emerging_Trends/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
              <small>Industry</small>
            </a>
              <h3 class="h6"><a href="/Industry/Construction_Steel_market_in_India_and_Emerging_Trends/" class="text-white" style="line-height: 1.6;">Construction Steel market in India and Emerging Trends
              </a>
              </h3>
              <div class="mt-2">
                <a href="/Industry/Construction_Steel_market_in_India_and_Emerging_Trends/" class="pl-2 text-white mr-2" style="border-left: 3px solid #cf961b;"><small>Read
                    More</small></a>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 p-2">
          <div class="position-relative h-60"
            style="min-height: 300px; background-image: url('/static/staticfiles/img/blog/Industry5.jpg'); background-position: center; background-size: cover;">
            <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
              style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
              <a href="/Industry/Green_Buildings_India_Build_back_better/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
              <small>Industry</small>
            </a>
              <h3 class="h6"><a href="/Industry/Green_Buildings_India_Build_back_better/" class="text-white" style="line-height: 1.6;">Green Buildings & India : Build back better
              </a>
              </h3>
              <div class="mt-2">
                <a href="/Industry/Green_Buildings_India_Build_back_better/" class="pl-2 text-white mr-2" style="border-left: 3px solid #cf961b;"><small>Read
                    More</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pagination-container"></div>

    <div class="col-1 col-md-3"></div>
  </div>
  <div class="row" style="margin: 0px;">
    <div class="col-12 col-md-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-12 col-md-2"></div>
  </div>
  {% include "footer.html" %}
  <script>
    var l = window.location.pathname.split('/')[2];
    document.getElementById('lastword').innerHTML = l;
    var l2 = window.location.pathname.split('/')[1];
    document.getElementById('last2word').innerHTML = l2;
  </script>
  <script>

    var items = $(".list-wrapper .list-item");
    var numItems = items.length;
    var perPage = 4;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
      items: numItems,
      itemsOnPage: perPage,
      prevText: "&laquo;",
      nextText: "&raquo;",
      onPageClick: function (pageNumber) {
        var showFrom = perPage * (pageNumber - 1);
        var showTo = showFrom + perPage;
        items.hide().slice(showFrom, showTo).show();
      }
    });
  </script>
  <script src="/static/staticfiles/js/jquery.min.js"></script>
  <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>