<!DOCTYPE html>
<html>
    {% load hitcount_tags %}
<head>
  <meta charset="utf-8">
  {% load custom_tags %}
  <meta name="description" content="{{posts.body|des}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{posts.title}}</title>
  {% include "styles.html" %}
  {% include "navigation.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;margin-bottom: 30px;">
<div class="col-1 col-md-3"></div>
<div class="col">
    <h2 class="text-center text-capitalize"
        style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
        {{posts.title}}</h2>
    <div class="text-center"
        style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
        {{posts.created}} <p>Views: {% get_hit_count for posts %}</p><br> By - <strong
            style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">{{posts.author}}</strong>
        <br>
        <br>
    </div>
    
    <img src="{{posts.image.url}}" alt="" style="width: 100%;margin: 20px 0px;">
    <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">{{posts.body|safe}}
    </p>

</div>
<div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
