<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="Establishing your brand online might seem a hassle from far but it doesn’t have to be so difficult creating your name among marketplaces as compared to when you started with a small retail space.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Tips for Selling Online | Seller Blog | Seventh Square  </title>
  {% include "styles.html" %}
  {% include "navigation.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
<div class="col-1 col-md-3"></div>
<h2 class="text-center text-capitalize"
        style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
        Seller Help</h2>
    <h5 class="text-center"
        style="color: black;font-weight: 600; font-family: 'Crimson Text', serif;font-style: italic;">How to blogs and best practices for the platform</h5>
<div class="container my-5 mx-4">
    <div class="row mx-4 my-4">
        <div class="col-lg-4 col-md-12 p-2 ">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('https://seller.seventhsq.com/static/staticfiles/img/b4.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/Seventh_Square_Business/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/Seventh_Square_Business/" class="text-white" style="line-height: 1.6;">Seventh Square Business</a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/Seventh_Square_Business/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 p-2">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('https://seller.seventhsq.com/static/staticfiles/img/b1.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/Seventh_Square_Seller/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/Seventh_Square_Seller/" class="text-white" style="line-height: 1.6;">Why sell with Seventh Square</a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/Seventh_Square_Seller/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 p-2">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('https://seller.seventhsq.com/static/staticfiles/img/blog/Seller Blog - Seller Help 3.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/write_Product_Title_and_Product_Description/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/write_Product_Title_and_Product_Description/" class="text-white" style="line-height: 1.6;">How to write Product Title & Description which increase conversions</a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/write_Product_Title_and_Product_Description/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-4 my-4">
        <div class="col-lg-6 col-md-6 p-2 ">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('https://seller.seventhsq.com/static/staticfiles/img/blog/Seller Blog- Seller Help 4.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/HSN_Code_&_Ecommerce/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/HSN_Code_&_Ecommerce/" class="text-white" style="line-height: 1.6;">HSN Code and E-commerce</a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/HSN_Code_&_Ecommerce/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 p-2 ">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('/static/staticfiles/img/blog/Seller-Help5.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/Adding_new_product_Serviced_Regions/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/Adding_new_product_Serviced_Regions/" class="text-white" style="line-height: 1.6;">Adding new product: Serviced Regions
                    </a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/Adding_new_product_Serviced_Regions/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mx-4 my-4">
        <div class="col-lg-12 col-md-12 p-2 ">
            <div class="position-relative h-60"
                style="min-height: 300px; background-image: url('/static/staticfiles/img/blog/SellerHelp6.png'); background-position: center; background-size: cover;">
                <div class="position-absolute p-3 d-flex flex-column align-items-start justify-content-end"
                    style="background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); top:0; bottom:0; left:0; right:0;">
                    <a href="/seller-help/What_is_RFX_How_does_it_help_me/" class="text-white p-1 px-2 mb-2" style="background-color: #cf961b;">
                        <small>Seller Help</small>
                    </a>
                    <h3 class="h6"><a href="/seller-help/What_is_RFX_How_does_it_help_me/" class="text-white" style="line-height: 1.6;">What is RFX ? How does it help me?</a></h3>
                    <div class="mt-2">
                        <a href="/seller-help/What_is_RFX_How_does_it_help_me/" class="pl-2 text-white mr-2"
                            style="border-left: 3px solid #cf961b;"><small>Read More</small></a>
                    </div>
                </div>
            </div>
        </div>        
    </div>

</div>
<div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>