

<style>
.aboutMenu {
 position: fixed;
 display: flex;
 justify-content:space-around;
 align-items: center;
 width: 100%;
 z-index: 1;
 top: 0;
 background-color: white;
}
.aboutMenu .container {
 width: 100%;
 height: 60px;
 margin: 0 auto;
 text-align: center;
 padding: 10px;
}
.aboutMenu ul{
 position: relative;
 display: flex;
 list-style: none;
 width: 100%;
 justify-content: flex-end;
 margin: 0;
}
  
.aboutMenu .container ul li {
 display: inline-block;
 height: 45px;
 position: relative;
 margin: 0 20px;
 padding: 5px 10px;
}

.aboutMenu .container ul li a {
 display: inline-block;
 text-decoration: none;
 padding: 2px 5px!important;
 color: black;
 position: relative;
 text-transform: uppercase;
}
.aboutMenu .container ul li a:hover{
 color: white;
}
.aboutMenu .container ul li.active {
 background-color: rgb(0, 0, 0);
 transition: 0.3s ease background-color;
 text-decoration: underline;
 text-underline-position: under;
 transition: 0.3s ease background-color;
}
.aboutMenu .container ul li.active a {
 color:rgb(255, 255, 255);
 text-decoration: underline;
 text-underline-position: under;
 margin-bottom: 5px;
}
.aboutMenu .logo{
 color: #111;
 font-size: 24px;
 text-transform: uppercase;
 text-decoration: none;
 font-weight: 700;
 letter-spacing: 2px;
}
.aboutMenu.logo img{
 width: 80px;
 
}

.container-other{
 width: 100%;
 height: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
 scroll-behavior: smooth;
 scroll-snap-type: y mandatory;    
}
.section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 100vh;
   scroll-snap-align: center;
}
.section h1{
   font-size: 2.5rem;
}
.section p{
   font-size: 1.5rem;
}
.banner{
   width: 100%;
   height: 100vh;
   position: relative;
   overflow: hidden;
   margin-top: -60px;
}
.slider{
   width: 100%;
   height: 100vh;
   position: absolute;
   top:0;

}
#slideImg{
   width: 100%;
   height: 100vh;
   animation: zoom 10s linear infinite;
}
@keyframes zoom{
   0%{
       transform: scale(1.2);
   }
   33%{
       transform: scale(1.15);
   }
   77%{
       transform: scale(1);
   }
   100%{
       transform: scale(1.2);
   }
}

.list{
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   z-index:9;
   background:rgb(0,0,0,0);
   top:0px;
}
.list ul{
   position: relative;
   display: flex;
   list-style: none;
   width: 100%;
   justify-content: flex-end;
   margin: 0;
}

.list ul li{
   position: relative;
   margin: 0 0.5rem;
   padding: 1rem;
}

.list ul li a{
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
}

.list ul li a:hover{
   color: rgb(19, 22, 24);
}
.list ul li .selected{
   color: #f3994c;
   text-decoration: underline;
   text-underline-position: under;
}

.overlay{
   width: 100%;
   height: 100vh;
   background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
   position: absolute;
   top: 0;
}
.content{
   width: 80%;
   margin:180px 200px 0px;
   text-align: left;
   color:#fff;
}
.content h2{
   width: 60%;
   font-size: 2rem;
}
.content p{
   width: 50%;
   margin: 20px 0px;
   font-weight: 100;
   line-height: 25px;
}
.content a {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
 }
 
.content a:hover {
   color:orange;
   
 }
 
.content a:active {
   background: black;
 }
.know{
   margin: 20px 0;
}


/* ----------------------------------------- SECTION - STORY ------------------------------------------- */
#story{    
   background: #fefefe;
   display: flex;
   flex-direction: column;
   color: black;
}
#block{
   display: flex;
}
#story .list ul li a,section#products .list ul li a,section#objectives .list ul li a{
   color: #111;
}
#story .list ul li a:hover,section#products .list ul li a:hover,section#objectives .list ul li a:hover{
   color: skyblue;
}
#story .list ul li .selected,section#products .list ul li .selected,section#objectives .list ul li .selected{
   color: #f3994c;
   text-decoration: underline;
   text-underline-position: under;
}
.story-con{
   width: 65%;
   text-align: left;
   padding-left: 5%;
}
.story-con p{
   margin: 20px 0px;
   font-weight: 100;
   line-height: 23px;
   font-size: 20px;
}
.planePath {
   /* stroke: #D9DADA; */
   stroke: #98a0a0;
   stroke-width: .1%;
   stroke-width: .3%;
   stroke-dasharray: 1% 2%;
   stroke-linecap: round;
   fill: none;
 }
 
 .fil1 {
   /* fill: #D9DADA; */
   fill: #babdbd;
 }
 
 .fil2 {
   /* fill: #C5C6C6; */
   fill: #98a0a0;
 }

 .fil3 {
   /* fill: #AEAFB0; */
   fill:#c1c2c3;
 }
 
 .fil4 {
   /* fill: #9D9E9E; */
   fill: #8a8b8b;
 }  
 
/* --------------------------------------- SECTION - PRODUCTS ----------------------------------- */
#products{
   color: black;
   background: #FEFEFE;
   /* background-image: url("../img/8.jpg");
   width: 100%;
   height: 100vh;
   background-size: cover;
   position: relative;
   opacity: 0.9;
   background-attachment: fixed; */
}
#products h1{
   margin-top: 2vh;
}

#products .content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap:wrap ;
   margin:0 auto;
}
#products .content .workBx{
   position: relative;
   width: 280px;
   height: 130px;
   margin: 5px;
   transition: 0.3s;
   text-align: center;
   align-items: center;        
   cursor: pointer;
}
#products .content .workBx .imgBx,
#products .content .workBx .textBx{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;

}
#products .content .workBx .imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#products .content .workBx .textBx{
   background: #000;
   opacity: 0 ;
   transition: 0.5s;
   align-items: center;
   justify-content: center;
}
#products .content .workBx:hover .textBx{
   opacity: 0.8;
}
#products .content .workBx .textBx h3{
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size:1em;
}
#products .products{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   width: 90%;
   margin: 0 auto 5vh;
}
#products .products .prodBox
{
   padding: 10px 10px;
   background: #f4f4f4;
   color: black;
   width: 320px;
   margin: 5px;
   text-align: center;
   transition: 0.5s;
   display: flex;
   align-items: center;
}
#products .products .prodBox:hover{
   background: skyblue;
}
#products .products .prodBox img{
   width: 60px;
}
#products .products .prodBox h2{
   font-size: 20px;
   font-weight: 600;
   width: 100%;
}
/* .products img{
   width: 10vh;
} */
.button-container{
   background-image: url("../img/8.jpg");
   width: 100%;
   height: 30vh;
   background-size: cover;
   position: relative;
   opacity: 0.9;
   background-attachment: fixed;
}
.btn-2,
.btn-2::after {
 -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
 -o-transition: all 0.3s;
   transition: all 0.3s;
}

.btn-2 {
 background: none;
 border: 3px solid #000;
 border-radius: 5px;
 color: #000;
 display: block;
 font-size: 1em;
 font-weight: bold;
 margin: 4em auto;
 padding: 1em 5em;
 position: relative;
 text-transform: uppercase;
}

.btn-2::before,
.btn-2::after {
 background: #000;
 content: '';
 position: absolute;
 z-index: -1;
}

.btn-2:hover {
 color: #fefefe;
 background: #000;
}
.btn-2::after {
   height: 100%;
   left: 0;
   top: 0;
   width: 0;
 }
 
 .btn-2:hover:after {
   width: 100%;
 }

/* ----------------------------------Section-Objectives-------------------------------------- */
#objectives{
   padding-top: 1%;
   background: #fefefe;
   color: black;
}
#gray{
   margin: 0 auto;
   width: 50%;
   line-height: 30px;
   color: #504d4d;
}
.aim-content .line{
   width: 8%;
   height: 2px;
   opacity: 0.7;
   background: #e0e0e0;
   margin: auto;
}
.hide  {
   display: none;
}
.aim-content{
   display: flex;
   width: 95%;
   margin: 10px auto;
}
.aim{
   width: 45%;
   padding: 0 20px;
   margin: auto;
   display: flex;
   flex-direction: row;
}
.aim.text-num{
   text-shadow: saddlebrown;
}
.aim p{
   font-weight: 100;
   line-height: 25px;
   text-align: left;
}
.bullet{
   text-shadow: 3px 3px rgb(0 0 0 / 25%);
}

.globe {
   border: 2px solid #8bc34a;
   border-radius: 50%;
   height: 140px;
   left: 50%;
   overflow: hidden;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 140px;
}
   
.globe svg{
     animation: rotation 5s linear 0s infinite;
}
.globe svg path {
       stroke: #8BC34A;
}
@keyframes rotation {
   from {
     transform: translateX(0);
   }
   
   from {
     transform: translateX(-50%);
   }
}

/* ----------------------------------------------------Section-Contact Us------------------------------------------*/

/* ---------------------------------------------------Responsive--------------------------------------------- */
@media (max-width : 1100px){
   .story-con{
       width:100%;
       padding-right: 5%;
   }    
   #products,section#objectives,section.contact,section#story{
       align-items: flex-start;
   }
   #products h1,section#objectives h1,section.contact h1{
       width: 100%;
   }
   #products .products .prodBox{
       width:280px
   }
   #story svg{
       display: none;
   }
   #products .content .workBx{
       width: 220px;
       height: 130px;
   }
}


@media (max-width : 970px){
   .story{
       width:85%;
   }
   #products .products .prodBox{
       width:250px;
   }
   nav {
       padding: 20px 50px;
       z-index: 1000;
   }
   .aboutMenu {
      display: none;
   }
   #menu{
       position: fixed;
       top: 75px;
       left: -100%;
       display: block;
       padding: 100px 50px;
       text-align: left;
       width: 100%;
       height: 100vh;
       background: #fff;
       transition: 0.5s;
       z-index:999;
       border-top: 1px solid rgba(0,0,0,0.2);
   }
   #menu.active{
       left: 0;
   }
   nav ul li {
       color: #111;
   }
   .toggle{
       width: 40px;
       height: 40px;
       background: url("../img/hamburger.png");
       background-position:center;
       background-repeat: no-repeat;
       background-size:30px;
       cursor: pointer;
   }
   .toggle.active{
       background:url("../img/cross.png");
       background-position: center;
       background-repeat: no-repeat;
       background-size: 25px;
       cursor: pointer;
   }
   

}
@media (max-width :930px){
   
   #products .products .prodBox{
       width:225px;
   }
}
@media (max-width: 862px){
   section#products .content .workBx{
       width: 180px;
       height: 130px;
   } 
   section#product{
       height: 120vh;
   }
}
@media (max-width : 787px){
   .content{
       width:80%;
       text-align: center;
       margin: 150px auto;
   }
   .content h2{
       margin: auto;
   }
   #gray{
       width:80%;
   }
#products .products .prodBox{
       display:initial;
       min-width: 185px;
       max-width: 195px;
   }
   #products .products{
       width: 100%;
   }
   #products .products .prodBox img {
       width: 45px;
   }
   .story h1{
       font-size:50px;
   }
   .story p{
       font-size:1.2em;  
   }
   .container-other{
       overflow-y: normal;
   }
   .container-other{
       overflow-y: normal;
       scroll-behavior: normal;
       scroll-snap-type: none;    
   }
   .aim-content{
       margin: 5px auto;
   }
   .aim {
       width: 50%;
   }
}
@media(max-width : 767px){
   section#footer{
       max-height: 100%;
   }

}
@media(max-width : 717px){
   #products .content{
       width:100%;
   }
}
@media(max-width : 615px){
    #products .products .prodBox{
     min-width: 145px;
     max-width: 155px;
 }
 #story{
     height: 120vh;
 }
 .aim p {
     line-height: 23px;
     font-size: 20px;
 }
 #gray{
     line-height: 20px;
     font-size: 16px;

 }
 .banner{
 width: 100%;
 height: 80vh;
 position: relative;
 overflow: hidden;
 margin-top: -60px;
}
.banner h2{
    font-size: 30px!important;
}
.slider{
 height: 80vh;
}
#slideImg{
 height: 80vh;
}
#home{
    height: 80vh;
}
section{
    height: auto!important;
}
}

@media(max-width: 570px){
   section#products .content .workBx {
       width: 150px;
       height: 130px;
   }
   section#products .content .workBx .textBx{
       background: rgb(0 0 0 / 20%);
       opacity: 1;
   }
   
}

@media (max-width : 500px){
   
   .content{
       width:80%;
       text-align: center;
       margin: 120px auto;
   }
   .content p{
       margin: auto;
       font-size:1.2em;
       text-align: left;
   }
   .content h1{
       font-size:50px;
   }
   section#story{
       align-items: flex-start;
   }
   section#objectives h1{
       font-size: 2rem;
   }
   .aim {
      width: 100%;
      margin: 10px auto;
  }
  #gray{
     margin:10px auto;
  }
   .aim-content{
       flex-direction: column;
   }
   .hide{
       display:flex;
   }
   .hide-bar{
       display:none;
   }
   body{
       overflow: none;
   }
   section#products .content .workBx {
       width: 130px;
       height: 130px;
   }

}
@media (max-width : 450px){
   section#products .content .workBx{
       margin:1.5px;
   }
   .story-con p{      
       line-height: 20px;
       font-size: 17px;  
   }
   .story-con{
       margin-top: 10%;
   }
   section h1 {
       font-size: 2rem;
   }
   section#objectives{
       height: 150vh;
   }
   .aim p {
       line-height: 20px;
       font-size: 18px;
   }
}
@media(max-width:400px ){
   section#products .content .workBx {
       width: 100px;
       height: 100px;  
   }
   section#products .content .workBx .textBx h3 {
       font-size: 0.8em;
   }
   .box-small {
       left: 10%;
   }
}
@media (max-width : 310px){
   section#products{
       height: 120vh;
   }
}
@media (max-width : 300px){
   .story h1, .content h1{
       font-size:40px;
   }
   .story p, .content p{
       font-size:1.1em;  
   }
   section#objectives{
       height: 130vh;
   }   
}
</style>

<div class="container-other" onload="slider()">
    <nav class="aboutMenu">
        <div class="container">
            <ul id="menu">
                <li class="home active"><a href="#home">Home</a></li>
                <li class="story"><a href="#story">Our Story</a></li>
                <li class="products"><a href="#products">Products</a></li>
                <li class="objectives"><a href="#objectives">Objectives</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="section"  id="home">
     <div class="banner">
                <div class="slider">
                    <img src="/static/staticfiles/img/about/1.jpg" alt="Background_image" id="slideImg">
                </div>
                <div class="overlay">
                    <div class="content">
                        <h2>Shopping for Construction Material and Interior Products made easy for you.</h2>
                        <div class="know"> <a href="#story">Know More</a> </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="section" id="story">
            <div id="block">
                <div class="story-con">
                    <h1>Our Story</h1>
                    <p>Seventh Square came to being at an under-construction building site.
                        As Builders & Developers, I got to learn this early on -
                        There are more than 100 different items that are used together to construct an apartment complex or commercial centre. Cement, Bricks, Steel were just the starting. Whenever we would start a project, we would work with many different suppliers for all these products, regularly call for prices, work personally to get each product to the site and inspect the product and then keep track of several different payments. As customers, I wanted better service, which wasn't available in the market. Even if I got good service from one product supplier, the others were too difficult. There was no single point. No single person. No single source. </p><break></break>
                    <p>
                        Then I thought of a platform where every Building Material from brick to nail can be bought as easily as buying a book online. I thought of every service missing in our current system and starting building Seventh Square as the perfect platform to buy Construction Materials & Interiors in the country. With service as our focus, we are always constantly evolving our model to offer even better service to both our sellers and our customers</p>
                </div>
                    <svg style="transform: rotate(280deg);width: 50%;" viewBox="0 0 3387 1270">
                        <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
                        <g id="plane">
                        <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
                        <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
                        <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
                        <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
                        <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
                        </g>
                        <!-- Define the motion path animation -->
                        <animateMotion xlink:href="#plane" dur="7s" repeatCount="indefinite" rotate="auto">
                        <mpath xlink:href="#planePath" />
                        </animateMotion> 
                    </svg>
            </div>
    </section>
    <section class="section" id="products">
        <h1>Our Products</h1>
        
        <div class="content">
            
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/1.png" alt="">
                </div>
                <div class="textBx">
                    <h3>Building Materials</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/plumbing.jpg" alt="">
                </div>
                <div class="textBx">
                    <h3>Plumbing and Electricals</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/2.png" alt="">
                </div>
                <div class="textBx">
                    <h3>Roofing</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/oil.jpg" alt="">
                </div>
                <div class="textBx">
                    <h3>Chemicals</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/doors.jpg" alt="">
                </div>

                <div class="textBx">
                    <h3>Doors and Windows</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/3.png" alt="">
                </div>
                <div class="textBx">
                    <h3>Flooring and walls</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/Paint (1).jpg" alt="">
                </div>
                <div class="textBx">
                    <h3>Paints and Finishes</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/tools.jpg" alt="">
                </div>
                <div class="textBx">
                    <h3>Hardware</h3>
                </div>
            </div>
            <div class="workBx">
                <div class="imgBx">
                    <img src="/static/staticfiles/img/about/modular.jpg" alt="">
                </div>
                <div class="textBx">
                    <h3>Modular</h3>
                </div>
            </div>
            <button style="margin: 0.5em auto;" class="btn-2">Start Selling  &#x27F6</button>
            
        </div>   
    </section>
    <section class="section" id="objectives" >
        <h1 style="margin-top: 2vh;">What we do and how?</h1>
        <p id="gray">Our aim is to make Material Procurement for Builders, Contractors & Individual Home builders simple and more profitable.  How?</p>
        <div class="aim-content">
            <hr class="line">
            <hr class="line hide-bar">
        </div>
        <div class="aim-content">
            <div class="aim">
                
                <p>We connect manufacturers to their customers directly. Buy the original product straight from the factory at manufacturer's rate.</p>
                   
            </div>
            <hr class="line hide"> 
            <div class="aim">
                <p>Shop freely with our Liberal Policies including Shipping, Delivery & Return & Payment.</p>
                
            </div>
        </div>
        <div class="aim-content">
            <hr class="line">
            <hr class="line hide-bar">
        </div>
        <div class="aim-content">
            <div class="aim">
                <p>We offer best-in-class Services. Get Delivery, Payment and Invoicing sorted out within a single screen. Not a fan of screens? Call your Relationship Manager with us, they'll take care of everything.</p>
            </div>
            <hr class="line hide">  
            <div class="aim">
                <p>We have got every item covered. Builder & Contractors can source every single item for their project from Seventh Square. Single Source of Procurement straight from the manufacturer. </p>
            </div>
        </div>
        <br><br>
        <p id="gray">To know more, head over to our <a href="https://seller.seventhsq.com/blog/"><em>Blog</em></a> page </p>
        
    </section>

    
       
</div>
{%include "footer.html"%}