{% extends 'seller_faq.html' %}
{% block page_title_header %}
Shipping & Returns FAQ | Frequently Asked Questions | Seventh Square Seller
{% endblock %}
{% block body%}

<div class="row" style="margin: 0px;">
  <div class="col-12 col-md-2"></div>
  <div class="col" style="margin: 0px 20px;">
    <h1 class="text-center"
      style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Shipping &
      Returns FAQs</h1>
    <div class="accordion_bk">
      <div class="mx-auto">
        <!-- Accordion -->
        <div id="accordionExample" class="accordion">

          <!-- Accordion item 1 -->
          <div class="card">
            <div id="f1" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                  aria-controls="f1-1"
                  class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                  &nbsp;Does Seventh Square offer shipping/delivery for orders?</span></h6>
            </div>
            <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Yes. Seventh Square has a shipping service too. You can choose ‘Shipping with Seventh Square’ while adding a new product if you want to avail shipping services for the product.
                  .</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 2 -->
          <div class="card">
            <div id="f2" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                  aria-controls="f2-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                  &nbsp; I want to ship my orders myself. How do I choose the relevant settings?</span></h6>
            </div>
            <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">To self ship, you can choose the same while adding a new product. However, to validate self shipping, you have to share your Shipment SLA to help us make the customer experience up to the mark. To find out more about this, please reach out to <a href="mailto:support@seventhsq.com">support@seventhsq.com</a> 

                </p>
              </div>
            </div>
          </div>

          <!-- Accordion item 3 -->
          <div class="card">
            <div id="f3" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                  aria-expanded="false" aria-controls="f3-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                  &nbsp;I manufacture bulky construction material and shipping is key to my sales. How do I best utilise the platform?
                </span></h6>
            </div>
            <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">To get guidance regarding your products and shipping, please reach out to us at seller@seventhsq.com . </p>
              </div>
            </div>
          </div>

          <!-- Accordion item 4 -->
          <div class="card">
            <div id="f4" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                  aria-expanded="false" aria-controls="f4-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                  &nbsp;I have my own logistics network in certain cities/regions. Can I use Seventh Square shipping only where I don’t have my own network?</span>
              </h6>
            </div>
            <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">For customised shipping solutions, please reach out to us at <a href="mailto:seller@seventhsq.com">seller@seventhsq.com</a> 
                </p>
              </div>
            </div>
          </div>

          <!-- Accordion item 5 -->
          <div class="card">
            <div id="f5" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                  aria-expanded="false" aria-controls="f5-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                  &nbsp;I can ship some of my products by myself. Is it possible?
                </span></h6>
            </div>
            <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Yes. For each product, you can choose whether you’d like to ship it yourself or with Seventh Square.</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 6 -->
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;I have multiple delivery & storage hubs for my products. How do I proceed with shipping?
                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">In this instance, please mention all your delivery hubs and specific regions serviced through those, while adding your product. If you face any issue, please reach out to us at <a href="mailto:seller@seventhsq.com">seller@seventhsq.com</a> 
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;What is a Shipment SLA?
                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Shipment SLA is a Service Level Agreement detailing your logistics & delivery operations. This will help us display accurate delivery time and in tracking orders as and when placed by the customer. 
                </a> 
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;The customer returned a different product than what was delivered. What do I do?
                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Please raise a complaint through your dashboard or write to us at <a href="mailto:seller@seventhsq.com">seller@seventhsq.com</a>. The issue will be resolved as soon as possible.  
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;My products are bulky / fragile and Customer returns will be too costly for me. Is there any solution to this?

                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Yes. For Bulky/Fragile or generally unreturnable products, you can select ‘No returns’ while adding your products. This will be shown on your product’s page on <a href="http://www.seventhsq.com">www.seventhsq.com</a>  to the visitors, so they are completely informed before purchasing any product. 

                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;Can the buyer partially return the shipment?

                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">No. Either they can return it completely (only on returnable products) or accept the delivery.

                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;If my shipment is returned, do I have to bear any costs?

                </span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">No. Except any payment gateway charges (only in online payments by the buyer) or Shipping (if carried out with Seventh Square), no commission or any other charges are incurred to you. 

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/faqs/registration/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i
      class="fa fa-angle-left"></i></a>
  <a href="/faqs/general/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i
      class="fa fa-angle-right"></i></a>
  <div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
    <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
    <a href="/faqs/account/">
      <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
    </a>
    <a href="/faqs/advertising/">
      <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
    </a>
    <a href="/faqs/orders/">
      <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
    </a>
    <a href="/faqs/dashboard/">
      <div style="padding: 10px 25px;color: black;"><strong>Add New Product FAQs</strong></div>
    </a>
    <a href="/faqs/pricing/">
      <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
    </a>
    <a href="/faqs/policies/">
      <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
    </a>
    <a href="/faqs/registration/">
      <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
    </a>
    <a href="/faqs/shipping/">
      <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Shipping & Returns
          FAQs</strong></div>
    </a>
    <a href="/faqs/general/">
      <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
    </a>
    <a href="/pricecalculator/">
      <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
    </a>
    <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
  </div>
</div>
{%include "mobileFaqOptions.html"%}
{%endblock%}