{% extends 'seller_faq.html' %}
{% block page_title_header %}
Policies FAQ | Frequently Asked Questions | Seventh Square Seller
{% endblock %}
{% block body%}

<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Policies FAQs
  </h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;What is Seventh Square’s return policy?
              </span>
            </h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">By default, returns are accepted within 7 days of delivery and in the same condition. However, not all Building materials can be returned. Please refer to our return policy for details. You can reach us at <a href="mailto:support@seventhsq.com">support@seventhsq.com</a>  with any concerns related.
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;What happens in the event of a fraudulent customer complaints?
              </span>
            </h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">All complaints are properly studied and evaluated by our team. Based on clearly defined policies, any action is taken. If the complaint is found without basis, your dues will be remitted as per the timeline. 
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;What steps should I follow so I don’t face any fraudulent issues with my deliveries?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can follow the below steps, so you don’t face any issues with your orders:
                <ol>
                  <li>Deliver your products properly packaged. 
                  </li>
                  <li>Keep the buyer updated at every step through your dashboard.</li>
                  <li>Mention all the facts about your product, including storage, transit, etc. to give the customer a full picture before purchases.</li>
                  <li>Keep video/photo of the order when loading/delivering.</li>
        
                </ol>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;What policies do I agree to when I register as a seller?
              </span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">We advocate complete transparency. Here is what regulates our platform: 
<ol>
  <li class="text-underline">Marketplace Agreement</li>
  <li class="text-underline">Privacy Policy</li>
  <li class="text-underline">Shipping & Returns Policy</li>
  <li class="text-underline">Payments Policy</li>
  <li class="text-underline">Storage Policy
  </li>
  <li class="text-underline">Seller Guidelines
  </li>
  <li class="text-underline">Terms of use
  </li>
</ol>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<a href="/faqs/pricing/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/registration/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Add NewProduct FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Policies FAQs</strong>
    </div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%include "mobileFaqOptions.html"%}
{%endblock%}