{% extends 'seller_faq.html' %}
{% block page_title_header %}
Registration FAQ | Frequently Asked Questions | Seventh Square Seller
{% endblock %}
{% block body%}

<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Registration
    FAQs</h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;How do I register as a seller on Seventh Square?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">To register as a seller, please go to seller.seventhsq.com and fill in the registration form. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;What details are required to become a seller on Seventh Square?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0"><ol>
                <li>GSTIN
                </li>
                <li>Bank Account
                </li>
                <li>Phone / Email 
                </li>
              </ol></p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;Can I create an account without GSTIN?
              </span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. Your account will be created after the first step, i.e. with Number, Email & Password. However, to successfully start selling on the platform, you have to share your GSTIN and related info. <br>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;Where is my GSTIN used?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Your GSTIN is used for :
                <ol>
                  <li>Identification and verification with us.
                  </li>
                  <li>Order Invoicing (all invoices are made directly with customers, we act an an intermediary) 
                  </li>
                </ol>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;Is it safe to share my business info on the platform?
              </span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. The website is secure for any personal information you share with us. Also, we do not share your information with any third-party without prior consent. 
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;What do I do if I have an issue with the Seller Agreement during registration?</span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Although we have drafted our policies keeping in mind the best interests of both sellers and buyers, issues may arise. For any concern regarding agreement, please reach out to <a href="mailto:support@seventhsq.com">support@seventhsq.com</a> .
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 7 -->
        <div class="card">
          <div id="f7" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f7-1"
                aria-expanded="false" aria-controls="f7-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>7.</strong>
                &nbsp;Are there any Registration or Listing charges on Seventh Square?
              </span></h6>
          </div>
          <div id="f7-1" aria-labelledby="f7" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">No. Registration & Listing is completely free. We only charge in the event of a sale after receiving the amount from the buyer. 
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 8 -->
        <div class="card">
          <div id="f8" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f8-1"
                aria-expanded="false" aria-controls="f8-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>8.</strong>
                &nbsp;Do I need to sign any physical agreement ?
              </span></h6>
          </div>
          <div id="f8-1" aria-labelledby="f8" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">No. Seventh Square uses electronic agreements, under the Information Technology Act, 2000. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/faqs/policies/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/shipping/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Add New Product FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Registration FAQs</strong>
    </div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%include "mobileFaqOptions.html"%} 
{%endblock%}