{% extends 'seller_faq.html' %}
{% block page_title_header %}
Advertising FAQ | Frequently Asked Questions | Seventh Square Seller
{% endblock %}

{% block body%}

<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Advertising
    FAQs</h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;Who should advertise on Seventh Square?
              </span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Any person or entity who wants to reach out to Builders, Contractors, Building Material Suppliers, Individual Home Builders, Architects, Interior Designers, Engineers & Institutions like Hospitality, Healthcare, Education, Public Services. 
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;Why should I advertise on Seventh Square?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square is a niche platform connecting stakeholders only in Building Materials & Interiors industry. This makes our platform a better investment than general public platforms or marketplaces, where your advertisement budget is often wasted on audience who do not want your products. 
               <br> Advertising on our platform will help you build your brand within your industry, as specialised marketplaces are much more trustworthy to the involved stakeholders.
                
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;Where can I get analytics to make the decision for advertisement?
              </span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">For more clarification on specifics, you can reach out to us at <a href="">info@seventhsq.com</a>  </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;What are the different methods of advertisement on Seventh Square?
              </span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">On Seventh Square, you can advertise using the following mediums: 
                Sponsored Products <br>
                <br> Advertise your products when a visitor searches for similar products
                Sponsored Brands
                <br> Advertise your brands on our website across homepage, product pages, etc.
                Email Newsletter Adverts
               <br> Send promo ads for your brand and products straight to the customer's inbox.
               <br>Read in detail about Advertising with us here.
                .</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;How can I advertise on Seventh Square?
              </span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Please reach out to us at seller@seventhsq.com with your requirements and we’ll guide you through it.
                </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;What are the commercials for advertising?
              </span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square offers you lower ads cost than other online mediums.. Please reach out to info@seventhsq.com for custom package pricing.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<a href="/faqs/account/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/orders/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Advertising FAQs</strong>
    </div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Add New Product FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%include "mobileFaqOptions.html"%}
<!-- <div class="row text-center" id="contact-mobile" style="margin: 0;">
  <h1>Contact Us</h1>
  <div class="col-3" id="sub">
    <button class="btn btn-primary border rounded-circle mb-3" type="button"
      style="font-size: 20px;height: 65px;"><i class="fas fa-map-marker-alt"></i></button>
    <p>75, Jhotwara Industrial Area, Jhotwara Road, Jaipur, Rajasthan 302012</p>
  </div>

  <div class="col-3" id="sub">
    <a href="index.html"><button class="btn btn-primary border rounded-circle mb-3" type="button"
        style="font-size: 20px;height: 65px;"><i class="fas fa-question"></i></button></a>
    <p>General FAQs</p>
  </div>

  <div class="col-3" id="sub">
    <button class="btn btn-primary border rounded-circle mb-3" type="button"
      style="font-size: 20px;height: 65px;"><i class="fas fa-phone"></i></button>
    <p>+91 9887711126</p>
  </div>

  <div class="col-3" id="sub">
    <button class="btn btn-primary border rounded-circle mb-3" type="button"
      style="font-size: 20px;height: 65px;"><i class="fas fa-envelope"></i></button>
    <p>care@seventhsq.com</p>
  </div>
</div>  -->
{%endblock%}