<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="Online Marketplaces have grown significantly over the past few years as they have improved the customer experience through convenience and a host of services. As customers move online, even the Building Materials market will demand the online marketplace model.
  ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Why online marketplaces work | Seller Blog | Seventh Square
  </title>

  {% include "styles.html" %}
  {% include "navigation.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog/" style="color:#01011e">Blog</a></li>
      <li class="breadcrumb-item"><a href="/ecommerce/" id="last2word" style="color:#01011e">E-commerce</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
    <div class="col-1 col-md-3"></div>
    <div class="col">
        <h2 class="text-center text-capitalize"
            style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
            Why online marketplaces work & why you should sell there

</h2>
        <div class="text-center"
            style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
            FEB 01, 2021 <br> By - <strong
                style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
                Square</strong>
        </div>
        <img src="/static/staticfiles/img/blog/Seller Blog- Ecommerce 4.png" alt="" style="width: 100%;margin: 20px 0px;">
        <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">As our markets grow, more channels & mediums will open up for sellers and buyers to trade in such as physical stores, Ecommerce, social commerce and more.
          With so many channels for consumers to choose for their requirements, brands now have to 
          
        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">figure out some questions for themselves:
            </strong>
        </h2>
      <ol>
        <li>Which medium will give them the best returns on marketing & sales budgets?</li>
        <li>Which medium are their customers moving toward?</li>
      </ol>
      
<p>As the Indian consumer becomes more educated and gains access to resources like the Internet, use of online resource pool will gain importance.
  Any consumer before purchasing anything will research online what to buy, which brand to use, what price is available &  where to buy and the online platform which offers the best service will gain the most share of the consumer’s wallet.
  Online marketplaces, in this scenario, offer brands the best way to reach out to their existing customers as well as potential customers. 
  
  </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Features</strong>
        </h2>
        <span style="font-family: 'Hind Siliguri', sans-serif;">Not only do they offer the consumer a platform to complete their purchases, they also provide allied services such as information & knowledge, consulting, best pairing of different products (included in cross selling), multiple payment options, delivery & tracking, single point customer service for all products, single point installation and other tech services. 
          This makes them preferable to physical stores and single brand e-commerce websites. 
          
          </span>
          <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Building Materials & Home Interiors marketplace
            </strong>
        </h2>
        <span style="font-family: 'Hind Siliguri', sans-serif;">Seventh Square was started keeping in mind the changing consumer preferences and have positioned our industry-focused marketplace in such a way that the consumer can access all these services and more from their home or office.


          </span>
            <p class="my-2" style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">For example, any builder/contractor in any city across India, can:</p>

            <ol>
              <li>Plan his material requirement and schedule purchases</li>
              <li>Shop all building materials from foundation to finishing from a single account with us.</li>
              <li>Be in touch with us regularly through assigned relationship managers.</li>
              <li>Order when they require </li>
              <li>Consult with us regarding which combination of materials would give them best quality work at lowest cost.</li>
            </ol>
            <p class="my-2" style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;"><a href="">Explore more about the platform and see if we can help you grow</a></p>
           </div>
    <div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>