<footer class="foter-1 text-center"
  style="display: none; --margin-top: 30px !important; padding: 20px;background: #1b1b1b;">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" style="color: white;"
          data-mdb-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Company
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-mdb-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a class="btn btn-secondary text-left" role="button" href="/about/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">About Us</a>
          <a class="btn btn-secondary text-left" role="button" href="/careers/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Media</a>
          <a class="btn btn-secondary text-left" role="button"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Reviews</a>
          <a class="btn btn-secondary text-left" role="button" href="/contact-us/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Reach Us</a>
          <a class="btn btn-secondary text-left" role="button" href="/blog/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Seller Blog</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" style="color: white;"
          data-mdb-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Policy
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-mdb-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a class="btn btn-secondary text-left" role="button" href="/policy/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Returns</a>
          <a class="btn btn-secondary text-left" role="button" href="/policy/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Storage</a>
          <a class="btn btn-secondary text-left" role="button" href="/policy/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Payment</a>
          <a class="btn btn-secondary text-left" role="button" href="/guidelines/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Seller Guidelines</a>
          <a class="btn btn-secondary text-left" role="button" href="/terms/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Terms & Conditions</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" style="color: white;"
          data-mdb-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Resources
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-mdb-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a class="btn btn-secondary text-left" role="button" href="/seller-help/Seventh_Square_Seller/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Why Sell with us?</a>
          <a class="btn btn-secondary text-left" role="button" href="/how-it-works/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">How it Works</a>
          <a class="btn btn-secondary text-left" role="button" href="/advertise-with-us/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Advertise with Us</a>
          <a class="btn btn-secondary text-left" role="button" href="/pricing&commision/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Pricing & Commissions</a>
          <a class="btn btn-secondary text-left" role="button" href="/pricecalculator/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Price Calculator</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" style="color: white;"
          data-mdb-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Help
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-mdb-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a class="btn btn-secondary text-left" role="button" href="/account/register/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Seller Registration</a>
          <a class="btn btn-secondary text-left" role="button" href="/terms/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Terms of Use</a>
          <a class="btn btn-secondary text-left" role="button" href="/policy/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Privacy Policy</a>
          <a class="btn btn-secondary text-left" role="button" href="/forum/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Seller Forum</a>
          <a class="btn btn-secondary text-left" role="button" href="/faq/"
            style="background: transparent;border-style: none;color: #999999;width: 100%;">Frequently Asked Questions</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 footer-navigation" style="padding-right: 10px;">
      <form>
          <div class="form-group">
              <div class="float-right" style="float: right; padding-right:20px;">
                  <label class="text-light" for="exampleInputEmail1">Talk to us Directly</label>
              </div>
            <input type="email" class="form-control my-2 bg-dark text-light" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email / Phone">
            <textarea class="form-control my-2 bg-dark text-light" id="exampleFormControlTextarea1"placeholder="Message" rows="3"></textarea>
          </div>
          <button  type="submit" class="btn btn-primary float-right" style="float: right; padding-right:20px;">Submit</button>
        </form>
  <div class="clearfix"></div>
  </div>
  </div>

  <div class="row" style="margin: 10px;">
    <div class="col"><a href="https://www.facebook.com/Seventh-Square-101727191683337/" target='_blank'><img
          class="img-fluid" src="/static/staticfiles/email/facebook.png" /></a></div>
    <div class="col"><a href="https://www.instagram.com/seventhsquare/" target='_blank'><img class="img-fluid"
          src="/static/staticfiles/email/instagram.png" /></a></div>
    <div class="col"><a href="https://www.linkedin.com/company/seventh-square" target='_blank'><img class="img-fluid"
          src="/static/staticfiles/email/linkedin.png" /></a></div>
    <div class="col"><a href="https://www.pinterest.com/seventhsq/" target='_blank'><img class="img-fluid"
          src="/static/staticfiles/email/pinterest.png" /></a></div>
    <div class="col"><a href="https://twitter.com/SeventhSq/" target='_blank'><img class="img-fluid"
          src="/static/staticfiles/email/twitter.png" /></a></div>
  </div>
</footer>
<footer class="foter-2"
  style="padding-top: 50px;padding-bottom: 30px;padding-right: 10px;padding-left: 10px!important; background: #1b1b1b;padding-left: 100px;">
  <div class="row" style="margin: 0px!important;">
    <div class="col-sm-12 col-md-3 footer-navigation text-light" style="padding-right: 20px;">
      <h3><a href="/"><img class="img-fluid imgage-1" src="/static/staticfiles/img/white%20png%20(1).png"
            style="padding-left: 30px;padding-right: 30px;"></a></h3>
      <h6 style="margin-bottom: 12px;padding-top: 10px;font-size: 15px;">
        <strong>Registered Office</strong>
      </h6>
      <p style="font-size: 13px;color: #999;font-weight: normal;"> 75, Jhotwara Industrial
        Area, Jaipur, Rajasthan-302012</p>
      <div class="row" style="margin: 10px;">
        <div class="col" style="padding: 0px 5px; padding-left: 0px;"><a
            href="https://www.facebook.com/Seventh-Square-101727191683337/" target='_blank'><img class="img-fluid"
              src="/static/staticfiles/email/facebook.png" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.instagram.com/seventhsquare/"
            target='_blank'><img class="img-fluid" src="/static/staticfiles/email/instagram.png" /></a>
        </div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.linkedin.com/company/seventh-square"
            target='_blank'><img class="img-fluid" src="/static/staticfiles/email/linkedin.png" /></a>
        </div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.pinterest.com/seventhsq/" target='_blank'><img
              class="img-fluid" src="/static/staticfiles/email/pinterest.png" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://twitter.com/SeventhSq/" target='_blank'><img
              class="img-fluid" src="/static/staticfiles/email/twitter.png" /></a></div>
      </div>
    </div>
    <div class="col footer-contacts text-light">
      <h5 class="text-light" style="margin-bottom: 20px;font-size: 14px;"><strong>Company</strong></h5>
      <div>
        <ul class="list-unstyled">
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/about/"
              style="color: #999999;font-weight: normal;font-size: 13px;">About
              us</a></li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/careers/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Media<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a
              style="color: #999999;font-weight: normal;font-size: 13px;">Reviews<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/contact-us/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Reach Us<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/blog/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Seller Blog<br></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col footer-contacts">
      <h5 class="text-light" style="margin-bottom: 20px;font-size: 14px;"><strong>Policies</strong></h5>
      <div>
        <ul class="list-unstyled">
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/policy/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Returns</a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/policy/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Storage</a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/policy/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Payment<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/guidelines/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Seller
              Guidelines<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/terms/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Terms &
              Conditions<br></a></li>
        </ul>
      </div>
    </div>
    <div class="col footer-contacts">
      <h5 class="text-light" style="margin-bottom: 20px;font-size: 14px;"><strong>Resources</strong></h5>
      <div>
        <ul class="list-unstyled">
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/seller-help/Seventh_Square_Seller/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Why Sell with Us?</a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/how-it-works/"
              style="color: #999999;font-weight: normal;font-size: 13px;">How
              it Works<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/advertise-with-us/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Advertise with Us<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/pricing&commision/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Pricing
              & Commissions<br></a></li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/pricecalculator/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Price
              Calculator<br></a></li>
        </ul>
      </div>
    </div>
    <div class="col footer-contacts">
      <h5 class="text-light" style="margin-bottom: 20px;font-size: 14px;"><strong>Help</strong>
      </h5>
      <div>
        <ul class="list-unstyled">
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/account/register/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Seller Registration</a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/terms/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Terms of Use</a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/policy/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Privacy Policy<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/forum/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Seller
              Forum<br></a>
          </li>
          <li style="margin-bottom: 2px;padding-bottom: 10px;"><a href="/faq/"
              style="color: #999999;font-weight: normal;font-size: 13px;">Frequently
              Asked Questions<br></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 footer-navigation" style="padding-right: 10px;">
        <form method="POST" action="/callbackus/">
          {% csrf_token%}
            <div class="form-group">
                <div class="float-right" style="float: right; padding-right:20px;">
                    <label class="text-light" for="exampleInputEmail1">Talk to us Directly</label>
                </div>
              <input type="text" name="email" class="form-control my-2 bg-dark text-light" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email / Phone">
              <textarea name="msg" class="form-control my-2 bg-dark text-light" id="exampleFormControlTextarea1"placeholder="Message" rows="3"></textarea>
            </div>
            <button  type="submit" class="btn btn-primary float-right" style="float: right; padding-right:20px;">Submit</button>
          </form>
    <div class="clearfix"></div>
  </div>
</footer>
<div style="padding: 12px;background: #01011e;color: rgb(255,255,255);">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-8" style="padding-top: 5px;padding-bottom: 5px;text-align: center;">
      <span style="font-size: 14px;">Copyright © 2021<a href="#">&nbsp;</a>Seventh Square
        Internet Pvt. Ltd.</span>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 d-none d-md-block"
      style="padding: 0px;text-align: center;border-left: 1px solid rgba(255,255,255,0.6) ;">
      <div><img src="/static/staticfiles/img/p.jpg" style="margin-top: 5px;"></div>
    </div>
  </div>
</div>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/js/notification.js"></script>