<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="The Construction Steel market was growing at a mere 3% before the pandemic and declined more than 10% in the pandemic. Up until now, the market paints a grim picture, however, future predictions are much better. Building Steel will register around 10-25% rebound in FY22 and continue to grow at 5-6% for five years, which is much better than before the pandemic. 
  ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Construction Steel Market India and Emerging Trends | Seller Blog | Seventh Square</title>

    {% include "styles.html" %}
    {% include "navigation.html" %}
    <nav aria-label="breadcrumb" style="font-size: 15px;">
        <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
            <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
            <li class="breadcrumb-item"><a href="/blog/" style="color:#01011e">Blog</a></li>
            <li class="breadcrumb-item"><a href="/Industry/" id="last2word" style="color:#01011e">Industry</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
        </ol>
    </nav>
    <div class="row" style="margin: 0px;">
        <div class="col-1 col-md-3"></div>
        <div class="col">
            <h2 class="text-center text-capitalize"
                style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
                Construction Steel market in India and Emerging trends</h2>
            <div class="text-center"
                style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
                FEB 01, 2021 <br> By - <strong
                    style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
                    Square</strong>
            </div>
            <img src="/static/staticfiles/img/blog/Industry4.png" alt=""
                style="width: 100%;margin: 20px 0px;">
            <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">Construction Steel includes Structural
                Steel, Rebars, Sheets, Pipes, etc. which are used in Building & Construction. It is a huge market and
                accounts for about 40% of the country's total steel demand. In this 40%, the housing sector alone
                comprises of upto 75% demand, with the remainder being filled by industrial & commercial. As a
                developing country, India’s per capita consumption of steel is also among the lowest in the world and
                there’s room for a lot of growth.
            </p>
            <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Demand & Growth
                </strong>
            </h2>
            <p>The Construction Steel market was growing at a mere 3% before the pandemic and declined more than 10% in
                the pandemic. Up until now, the market paints a grim picture, however, future predictions are much
                better. Building Steel will register around 10-25% rebound in FY22 and continue to grow at 5-6% for five
                years, which is much better than before the pandemic.
            </p>
            <p>Several demand drivers are helping the B&C Steel market to grow, such as:
            </p>
            <ul>
                <li>Affordable Housing Push under PMAY-U & PMAY-R

                </li>
                <li>Real Estate Construction. ~1.2 Billion sq. ft. under construction in the country in FY21 as per a
                    report by Crisil.</li>
                <li>Rapid Urbanisation from rural areas to urban centres. India expected to be 40% urban by 2030.</li>
                <li>Change from Kutcha houses in rural areas to proper housing</li>
                <li>Nuclearisation of families. Average family size continues to fall, which leads to more and more
                    housing demand. </li>
                <li>Rising Middle & Rich Class of India, who go on to buy second & even third houses.</li>
            </ul>
            <p>These factors are pushing the B&C steel market alone from 3% growth in FY19 to more than 6% projected in
                FY22.
            </p>
            <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Emerging Trends
                </strong>
            </h2>
            <p>As we continue to grow as a nation, changes in building structure can also be seen. <br>
                More & more developers & individuals are moving towards steel-based structures instead of RCC. <br>
                Instead of using clay tiles, etc. for roofing, people in rural and poor areas are now using Metal
                Roofing Sheets, mostly steel.
                Pre-Engineered Buildings (PEB) are emerging as a strong trend in Industrial Real Estate as RCC Factories
                & Warehouses are fading out. Commercial use of PEB is still nascent and growing.
            </p>
            <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Digitisation
                </strong>
            </h2>
            <p>Steel Sector is one of the last to adopt digitisation in the country, but can benefit a lot from it. As
                per a report by PWC, digitised value chain can improve EBITDA by 2-4% for steel making companies and
                reduce inventory by 10 or more days.
            </p>
            <p>A varied client base & complicated distribution channels with various margin implications are major
                hurdles for the steel industry. This can be solved by more focus on D2C channels using companies’
                already built storage & logistics network in the country. This will help in gaining direct access to
                customers & customer data as well as control & maintain the price levels to the consumers.
                Implementation of various tech like IOT (Internet of things) can help measurably in this aspect. </p>
            </div>
            <div class="col-1 col-md-3"></div>
        <br>
        <div class="row" style="margin: 0px;">
            <div class="col-2"></div>
            <div class="col">{% include "blogstrip.html" %}</div>
            <div class="col-2"></div>
        </div>
        <br>
        {% include "footer.html" %}
        <script>
            var l = window.location.pathname.split('/')[2];
            document.getElementById('lastword').innerHTML = l;
            var l2 = window.location.pathname.split('/')[1];
            document.getElementById('last2word').innerHTML = l2;
        </script>
        <script src="/static/staticfiles/js/jquery.min.js"></script>
        <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
        </body>

</html>