<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="The Construction Steel market was growing at a mere 3% before the pandemic and declined more than 10% in the pandemic. Up until now, the market paints a grim picture, however, future predictions are much better. Building Steel will register around 10-25% rebound in FY22 and continue to grow at 5-6% for five years, which is much better than before the pandemic. 
  ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Construction Steel Market India and Emerging Trends | Seller Blog | Seventh Square</title>

    {% include "styles.html" %}
    {% include "navigation.html" %}
    <nav aria-label="breadcrumb" style="font-size: 15px;">
        <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
            <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
            <li class="breadcrumb-item"><a href="/blog/" style="color:#01011e">Blog</a></li>
            <li class="breadcrumb-item"><a href="/Industry/" id="last2word" style="color:#01011e">Industry</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
        </ol>
    </nav>
    <div class="row" style="margin: 0px;">
        <div class="col-1 col-md-3"></div>
        <div class="col">
            <h2 class="text-center text-capitalize"
                style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
                Green Buildings & India : Build back Better </h2>
            <div class="text-center"
                style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
                FEB 01, 2021 <br> By - <strong
                    style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
                    Square</strong>
            </div>
            <img src="/static/staticfiles/img/blog/Industry5.jpg" alt=""
                style="width: 100%;margin: 20px 0px;">
            <p>Image: Turning Torso, Malmö, Sweden (Green Skyscraper)</p>
            <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">The Construction industry in India is one of the fastest growing now at >9% CAGR and contributes ~10% to our GDP. Unfortunately, this will lead to a significant increase in carbon emissions unless we move towards 'Green Buildings' , which currently are at only 5% of existing development.
            </p>
            <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">What is a Green Building?
                </strong>
            </h2>
            <p>Green or Sustainable Buildings make the Building resource efficient and reduce construction & operating emissions. They can be identified using Green Building Rating systems which evaluate the Building on several Parameters like:
            </p>
            <ul>
                <li>Location & Transportation : The location of the project and available public transportation facilities in the area help in reducing pollution and efficient commuting for residents. </li>
                <li>Material & Resources : Using Green or Recycled materials help in reducing waste and emissions in the environment.</li>

                <li>Water Efficiency : Focus on water has increased as major metros are running out of it. Minimal use of potable water and recycling within the premises also help in a major way in making the environment better and sustainable.</li>
                <li>Energy & Atmosphere: Promoting efficient energy use and providing a sustainable & quality environment inside the project provides lower energy usage & costs as well as better lifestyle.
                </li>
                <li>Sustainable Sites: Making the project in such a way that it utilises natural resources as much as possible such as accessible sunlight inside the building, solar powered project, water harvesting, etc. help in reducing energy & resource consumption from polluting & scarce resources. 
                </li>
                <li>Sustainable Sites: Making the project in such a way that it utilises natural resources as much as possible such as accessible sunlight inside the building, solar powered project, water harvesting, etc. help in reducing energy & resource consumption from polluting & scarce resources. 
                </li>
                <li>Innovation : Innovative Buildings which improve habitability and provide sustainable solutions are a major factor too. 
                </li>
            </ul>
            <p>Ratings systems like LEED (Leadership in Energy & Environmental Design) is the most widely used green building rating system in the world. India itself has GRIHA (Green Rating for integrated habitat assessment) for rating Green Buildings on a three-tier model. 

            </p>
            <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Case for Green Buildings
                </strong>
            </h2>
            <ul>
                <li>Although initial construction & design costs are higher, the amount can be recovered over and above in a short span of 3-7 years. Currently in India, MNCs and Luxury housing are the major investors in Green Buildings as there are other factors considered beyond cost. 
                </li>
                <li> Also, after the pandemic, people have started moving towards a healthier lifestyle and environment which may make a strong case for Green Buildings in the future.
                </li>
            </ul>
            <p>Green Building Materials are also displayed on Seventh Square’s Marketplace platform in a separate section as well as are marked with a green icon wherever visible. Sell Green Building Materials to Builders & Individuals across India. Start today at <a href="mailto:seller@seventhsq.com">seller.seventhsq.com</a> .

            </p>
        </div>
            <div class="col-1 col-md-3"></div>
        <br>
        <div class="row" style="margin: 0px;">
            <div class="col-2"></div>
            <div class="col">{% include "blogstrip.html" %}</div>
            <div class="col-2"></div>
        </div>
        <br>
        {% include "footer.html" %}
        <script>
            var l = window.location.pathname.split('/')[2];
            document.getElementById('lastword').innerHTML = l;
            var l2 = window.location.pathname.split('/')[1];
            document.getElementById('last2word').innerHTML = l2;
        </script>
        <script src="/static/staticfiles/js/jquery.min.js"></script>
        <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
        </body>

</html>