<div class="my-4 text-center" style="margin-top: 3%;">
    <h3 id="heading-mobile">Explore More Topics</h3>
    <div class="row row-cols-3 row-cols-md-5 text-center" id="mobile-menu-container">
      <div class="col" id="mobile-bar">
        <a href="/faqs/general/">
          <button class="btn btn-secondary curr" type="button" id="mobile-menu">
            <i class="fas fa-question-circle icon-mobile-menu"></i><br>
            <label class="menu-label">General</label>
          </button>
        </a>
      </div>
      
      <div class="col" id="mobile-bar">
        <a href="/faqs/account/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="far fa-user icon-mobile-menu"></i><br>
            <label class="menu-label">Account</label>
          </button>
        </a>
      </div>
      <div class="col" id="mobile-bar">
        <a href="/faqs/advertising/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-bullhorn icon-mobile-menu"></i><br>
            <label class="menu-label">Advertising</label>
          </button>
        </a>
      </div>
      <div class="col" id="mobile-bar">
        <a href="/faqs/orders/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-shopping-basket icon-mobile-menu"></i><br>
            <label class="menu-label">Orders</label>
          </button>
        </a>
      </div>
      <div class="col" id="mobile-bar">
        <a href="/faqs/dashboard/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-th icon-mobile-menu"></i><br>
            <label class="menu-label">Dashboard</label>
          </button>
        </a>
      </div>
      <div class="col" id="mobile-bar">
        <a href="/faqs/pricing/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="far fa-credit-card icon-mobile-menu"></i><br>
            <label class="menu-label">Pricing and Payments</label>
          </button>
        </a>
      </div>
      <div class="col"id="mobile-bar">
        <a href="/faqs/policies/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="far fa-file-alt icon-mobile-menu"></i><br>
            <label class="menu-label">Policies</label>
          </button>
        </a>
      </div>
      <div class="col"id="mobile-bar">
        <a href="/faqs/registration/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-user-plus icon-mobile-menu"></i><br>
            <label class="menu-label">Registation</label>
          </button>
        </a>
      </div>
      
      <div class="col"id="mobile-bar">
        <a href="/faqs/shipping/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-exchange-alt icon-mobile-menu"></i><br>
            <label class="menu-label">Shipping and Returns</label>
          </button>
        </a>
      </div>
      <div class="col"id="mobile-bar">
        <a href="/pricecalculator/">
          <button class="btn btn-secondary" type="button" id="mobile-menu">
            <i class="fas fa-calculator icon-mobile-menu"></i><br>
            <label class="menu-label">Price Calculator</label>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <h1 class="text-center my-4">Contact Us</h1>
    <div class="col-md-6">
      <button class="btn btn-primary border rounded-circle mb-3" type="button"
        style="font-size: 20px;height: 65px;"><i class="fas fa-map-marker-alt"></i></button>
      <p>75, Jhotwara Industrial Area, Jhotwara Road, Jaipur, Rajasthan 302012</p>
    </div>
  
    <div class="col-md-6">
      <a href="/faqs/general/"><button class="btn btn-primary border rounded-circle mb-3" type="button"
          style="font-size: 20px;height: 65px;"><i class="fas fa-question"></i></button></a>
      <p>General FAQs</p>
    </div>
  
    <div class="col-md-6">
      <button class="btn btn-primary border rounded-circle mb-3" type="button"
        style="font-size: 20px;height: 65px;"><i class="fas fa-phone"></i></button>
      <p>+91 9887711126</p>
    </div>
  
    <div class="col-md-6">
      <button class="btn btn-primary border rounded-circle mb-3" type="button"
        style="font-size: 20px;height: 65px;"><i class="fas fa-envelope"></i></button>
      <p>care@seventhsq.com</p>
    </div>
  </div>