<option value="Ordinary Portland Cement ( OPC ) Grade 33">
<option value="Ordinary Portland Cement ( OPC ) Grade 43">
<option value="Ordinary Portland Cement ( OPC ) Grade 53">
<option value="Portland Pozzolana Cement">
<option value="Portland Composite Cement">
<option value="Ground-granulated blast-furnace slag">
<option value="Portland Slag Cement">
<option value="White Ordinary Portland Cement">
<option value="White Ordinary Portland Cement">
<option value="Fly Ash Brick">
<option value="Cement / Concrete Brick">
<option value="Autoclaved Aerated Concrete ( AAC ) Block">
<option value="Sun dried Brick">
<option value="Engineering Brick">
<option value="Sand Lime / Calcium Silicate Brick">
<option value="Porotherm Clay Brick">
<option value="Hollow Block">
<option value="Fire / Refractory Brick">
<option value="TMT Steel Bar Fe500">
<option value="TMT Steel Bar Fe550">
<option value="TMT Steel Bar Fe600">
<option value="TMT Steel Bar Fe415">
<option value="TMT Steel Bar Fe500D">
<option value="TMT Steel Bar Fe415D">
<option value="TMT Steel Bar Fe550D">
<option value="Steel Rebar / Reinforcement Bar">
<option value="Structural Steel C-Channel">
<option value="Structural Steel Beam I-cross Section">
<option value="Structural Steel Beam T-cross section">
<option value="Structural Steel Beam H-Cross Section">
<option value="Structural Steel Angle">
<option value="Steel Binding Wire">
<option value="Steel Hollow Section Square">
<option value="Steel Hollow Section Rectangle">
<option value="Steel Hollow Section Circular">
<option value="Steel Stirrup / Ring">
<option value="Structural Steel Narrow Parallel Flange Beam">
<option value="Structural Steel Wide Parallel Flange Beam">
<option value="Structural Steel Universal Beam">
<option value="Structural Steel Universal Column">
<option value="Structural Steel American W Section Beam">
<option value="Structural Steel American W Section Column">
<option value="Steel Round Bar">
<option value="Steel Plank">
<option value="River Sand / Fine Aggregate">
<option value="M-Sand / Fine Aggregate">
<option value="P-Sand / Fine Aggregate">
<option value="Pit Sand / Fine Aggregate">
<option value="Gravel / Coarse Aggregate">
<option value="Crushed Stone">
<option value="M5 Ready Mix Concrete">
<option value="M7.5 Ready Mix Concrete">
<option value="M10 Ready Mix Concrete">
<option value="M15 Ready Mix Concrete">
<option value="M20 Ready Mix Concrete">
<option value="M25 Ready Mix Concrete">
<option value="M30 Ready Mix Concrete">
<option value="M40 Ready Mix Concrete">
<option value="M45 Ready Mix Concrete">

<option value="M50 Ready Mix Concrete">
<option value="M55 Ready Mix Concrete">
<option value="M60 Ready Mix Concrete">
<option value="M65 Ready Mix Concrete">
<option value="M70 Ready Mix Concrete">
<option value="plywood">
<option value="Moisture Resistant Plywood">
<option value="Boiling Water Resistant Plywood">
<option value="Marine / Boiling Water Proof Plywood">
<option value="Medium Density Fibreboard (MDF)">
<option value="Flexible Plywood">
<option value="Composite Wood Board">
<option value="Teak wood">
<option value="Sal wood">
<option value="Fire Retardant Plywood">
<option value="Oak wood">
<option value="Maple wood">
<option value="Mahogany wood">
<option value="Cherry wood">
<option value="Walnut wood">
<option value="Pine wood">
<option value="Hickory wood">
<option value="Beach wood">
<option value="Douglas Fir wood">
<option value="Cedar wood">
<option value="Rosewood / Sheesham Wood">

<option value="Alder Wood">
<option value="Purple Heart Wood">
<option value="Poplar Wood">
<option value="Padauk Wood">
<option value="Lyptus Wood">
<option value="Particleboard">
<option value="High Density High Moisture Resistant (HDHMR) Board">
<option value="Blockboard">
<option value="Float Glass">

<option value="Extra Clean Float Glass / Low Iron Glass">
<option value="Tinted Glass">
<option value="Toughened / Tempered Glass">
<option value="Reflective Glass / Mirror Glass">
<option value="Laminated Glass">
<option value="Lacquered Glass / Back Painted Glass">
<option value="Bevelled Glass">
<option value="Frosted Glass">
<option value="Textured Glass / Patterned Glass">
<option value="Wired Glass">
<option value="Solar Control Glass">
<option value="Low E Glass">
<option value="Heat Strengthened Glass / Heat Treated glass">
<option value="Shatterproof Glass">
<option value="Ceramic Printed Glass / Silk Screened glass">
<option value="Glass Brick / Glass block">
<option value="Chromatic Glass">
<option value="Insulated Glass">
<option value="fiberglass">
<option value="Cast Iron Pipe">
<option value="Ductile Cast Iron Pipe">
<option value="UPVC Pipe SCH40">
<option value="UPVC Pipe SCH80">
<option value="UPVC Pipe SCH120">
<option value="UPVC Pipe Fitting Coupler">
<option value="UPVC Pipe Fitting Reducing Coupler">
<option value="UPVC Pipe Fitting Threaded Coupler">
<option value="UPVC Pipe Fitting Elbow 90 Degree">
<option value="UPVC Pipe Fitting Threaded Elbow 90 Degree">
<option value="UPVC Pipe Fitting Elbow 45 degree">
<option value="UPVC Pipe Fitting Reducing Elbow 90 degree">
<option value="UPVC Pipe Fitting Union">
<option value="UPVC Pipe Fitting End Cap">
<option value="UPVC Pipe Fitting Ball Valve">
<option value="UPVC Pipe Fitting Male Adaptor Brass threaded">
<option value="UPVC Pipe Fitting Female Adaptor Brass threaded">
<option value="UPVC Pipe Fitting Male Adaptor Plastic Threaded">
<option value="UPVC Pipe Fitting Female Adaptor Plastic threaded">
<option value="UPVC Pipe Fitting Tank Adaptor/ Connector">
<option value="UPVC Pipe Fitting Reducer Bush">
<option value="UPVC Pipe Fitting Brass Reducer Bush">
<option value="UPVC Pipe Fitting Tee">
<option value="UPVC Pipe Fitting Reducing Tee">
<option value="UPVC Pipe Fitting Threaded Tee">
<option value="UPVC Pipe Fitting Female Tee Brass threaded">
<option value="UPVC Solvent">
<option value="UPVC Pipe Fitting Cross">
<option value="UPVC Pipe Fitting Metal Strap">
<option value="UPVC Pipe Fitting Long Bend 90 Degree">
<option value="UPVC Pipe Fitting Step over Bend">
<option value="UPVC Pipe Fitting Extension Pieceupvc">
<option value="UPVC Pipe Fitting Flange">
<option value="CPVC Pipe IPS SCH40">
<option value="CPVC Pipe IPS SCH80">
<option value="CPVC Pipe CTS SDR11">
<option value="CPVC Pipe CTS SDR13.5">
<option value="CPVC Pipe Fitting Coupler">
<option value="CPVC Pipe Fitting Reducing Coupler">
<option value="CPVC Pipe Fitting Threaded Coupler">
<option value="CPVC Pipe Fitting Elbow 90 Degree">
<option value="CPVC Pipe Fitting Threaded Elbow 90 Degree">
<option value="CPVC Pipe Fitting Elbow 45 degree">
<option value="CPVC Pipe Fitting Reducing Elbow 90 degree">
<option value="CPVC Pipe Fitting Union">
<option value="CPVC Pipe Fitting End Cap">
<option value="CPVC Pipe Fitting Ball Valve">
<option value="CPVC Pipe Fitting Male Adaptor Brass threaded">
<option value="CPVC Pipe Fitting Female Adaptor Brass threaded">
<option value="CPVC Pipe Fitting Male Adaptor Plastic Threaded">
<option value="CPVC Pipe Fitting Female Adaptor Plastic threaded">
<option value="CPVC Pipe Fitting Tank Adaptor/ Connector">
<option value="CPVC Pipe Fitting Reducer Bush">
<option value="CPVC Pipe Fitting Brass Reducer Bush">
<option value="CPVC Pipe Fitting Tee">
<option value="CPVC Pipe Fitting Reducing Tee">
<option value="CPVC Pipe Fitting Threaded Tee">
<option value="CPVC Pipe Fitting Female Tee Brass threaded">
<option value="CPVC Solvent">
<option value="CPVC Pipe Fitting Cross">
<option value="CPVC Pipe Fitting Metal Strap">
<option value="CPVC Pipe Fitting Long Bend 90 Degree">
<option value="CPVC Pipe Fitting Step over Bend">
<option value="CPVC Pipe Fitting Extension Piece">
<option value="CPVC Pipe Fitting End Plug Threaded">
<option value="Galvanised Steel (GI) Pipe">
<option value="Asbestos Cement Pipe">
<option value="HDPE Pipe">
<option value="LDPE Pipe">
<option value="Copper Pipe">
<option value="Lead Pipe">
<option value="RPVC Pipe">
<option value="LLDPE Pipe">
<option value="Silicone Tubing">
<option value="Polypropylene (PP) Tube">
<option value="PEX Pipe">
<option value="Polyurethane (PU) Pipe">
<option value="Stainless Steel Pipe">
<option value="Integrated Pedestal Wash Basin">
<option value="Full Pedestal Wash Basin">
<option value="Half Pedestal Wash Basin">
<option value="Wall Hung / Mounted Wash Basin">
<option value="Counter Top Wash Basin">
<option value="Under Counter / Under mount Wash Basin">
<option value="Table Top Wash Basin">
<option value="Single Bowl Kitchen Sink">
<option value="Double Bowl Kitchen Sink">
<option value="Kitchen Sink with Drainboard">
<option value="Prep Sink / Bar Sink">
<option value="Alcove Bath Tub">
<option value="Freestanding Bath Tub">
<option value="Built-in / Drop-in Bath Tub">
<option value="Walk-in Bath Tub">
<option value="Jetted Bath Tub">
<option value="European / Western Water Closet (wc)">
<option value="Floor Mount European Water Closet (WC)">
<option value="Wall mount European Water Closet (WC)">
<option value="Squatting / Indian Water Closet">
<option value="Anglo- Indian Water Closet">
<option value="Urinal">
<option value="PVC Flushing Cistern / Standard Flushing Tank">
<option value="Concealed Cistern">
<option value="Flush Valve">
<option value="Miniature Circuit Breakers (MCB)">
<option value="Betagard Miniature Circuit Breaker (MCB)">
<option value="Molded Case Circuit Breaker (MCCB)">
<option value="Switchboard">
<option value="Motor Protection Circuit Breaker (MPCB)">
<option value="High Rupturing Capacity (HRC) Fuse">
<option value="Air Circuit Breaker (ACB)">
<option value="Contactor">
<option value="Relay">
<option value="Single Phasing Preventer (SPP)">
<option value="Capacitor">
<option value="Star Delta Starter">
<option value="Isolator">
<option value="Switch Fuse Unit">
<option value="Earth Leakage Circuit Breaker (ELCB)">
<option value="Change over Switch">
<option value="PanelBoard">
<option value="Motor Control Centre (MCC)">
<option value="Power Control Centre (PCC)">
<option value="PVC Electrical Conduit Pipe">
<option value="Steel Electrical Conduit pipe">
<option value="Steel Electrical Box">
<option value="PVC Electrical Box">
<option value="Fibreglass Electrical Box">
<option value="Low Voltage Cable">
<option value="Single Conductor Wire">
<option value="Non-Metallic Sheathed Cable / NM Cable / Romex Cable">
<option value="Non-Metallic Sheathed Cable (NM) Type B / Romex Cable">
<option value="Armored Cable (Metal Sheathed) / BX Cable">
<option value="Metal Clad (MC) Cable">
<option value="Duplex Service Drop Cable">
<option value="Triplex Service Drop Cable">
<option value="Qadruplex Service Drop Cable">
<option value="RG-6 Coaxial Cable">
<option value="Twisted Pair Cable">
<option value="Unshielded Twisted Pair (UTP) Cable">
<option value="Fibre Optics Cable">
<option value="Single Pole Electrical Switch">
<option value="Double Pole Electrical Switch">
<option value="Three Way Electrical Switch">
<option value="Four Way Electrical Switch">
<option value="Multi-Location Electrical Switch">
<option value="Bell Switch">
<option value="Two Pin Electrical Socket">
<option value="Three Pin Electrical Socket">
<option value="Five pin Electrical Socket">
<option value="Universal / International Socket">
<option value="Electrical Dimmer">
<option value="Electric Fan Regulators">
<option value="Telephone Socket / RJ11 Jack">
<option value="Data Socket / RJ45 Jack">
<option value="USB Socket">
<option value="TV Socket">
<option value="Electrical Power Unit">
<option value="Ceiling Fan">
<option value="Wall Fan">
<option value="Exhaust Fan">
<option value="Ceiling Light">
<option value="Emergency Light">
<option value="Flood Light">
<option value="Outdoor Light">
<option value="Solar Light">
<option value="Wall Light">
<option value="Air Conditioning System">
<option value="Waterproofing Chemical">
<option value="Structural Adhesive">
<option value="Block Joint Adhesive">
<option value="Tile Adhesive">
<option value="Non-Structural Adhesive">
<option value="Accelerating Admixture">
<option value="Retarding Admixture">
<option value="Air-Entraining Admixture">
<option value="Plasticizer Water Reducing Admixture">
<option value="Superplasticizer Water Reducing Admixture">
<option value="Waterproofing Admixture">
<option value="Pozzolanic / Mineral Admixture">
<option value="Gas Forming Admixture">
<option value="Cementitious Grout">
<option value="Epoxy Grout">
<option value="Acrylic Sealant">
<option value="Silicone Sealant">
<option value="Latex Sealant">
<option value="Polysulphide Sealant">
<option value="Polyurethane Sealant">
<option value="Butyl Sealant">
<option value="Aluminium Window">
<option value="Aluminium Door">
<option value="Wooden Door">
<option value="Wooden Window">
<option value="UPVC Window">
<option value="UPVC Door">
<option value="Glass Window">
<option value="Glass Door">
<option value="Composite Door">
<option value="Composite Window">
<option value="Glazed Vitrified Tile">
<option value="Full Body Vitrified Tile">
<option value="Double Charged Vitrified Tile">
<option value="Soluble Salt Vitrified Tile">
<option value="Glazed Ceramic Tile">
<option value="Unglazed Ceramic Tile">
<option value="Porcelain Tile">
<option value="Glass Tile">
<option value="Cement Tile">
<option value="Mosaic Tile">
<option value="Quarry Tile">
<option value="Metal Tile">
<option value="Resin Tile">
<option value="Linoleum Tile">
<option value="Vinyl Plank">
<option value="Vinyl Tile">
<option value="Vinyl Sheet">
<option value="Solid Wood / Hardwood Flooring">
<option value="Engineered Wood Flooring">
<option value="Laminate Wood Flooring">
<option value="Natural Cork Flooring">
<option value="Rubber Flooring Roll">
<option value="Rubber Flooring Tile">
<option value="Leather Floor / Wall Tile">
<option value="Leather Hide">
<option value="Cementitious Terrazzo Tile">
<option value="Epoxy Terrazzo Tile">
<option value="Red Oxide Tile">
<option value="Red Oxide Flooring Powder">
<option value="Bamboo Flooring">
<option value="Artificial Grass">
<option value="Floor Carpet">
<option value="Wallpaper">
<option value="Marble">
<option value="Granite">
<option value="Quartz">
<option value="Sandstone">
<option value="Limestone">
<option value="Slate">
<option value="Floor / Wall Skirting">
<option value="Floor / Wall Base Molding">
<option value="Floor / Wall Quarter Round Molding">
<option value="End Cap / Square Nose Floor Molding">
<option value="Floor T-Molding">
<option value="Reducer Floor Molding">
<option value="Stair Nose Floor Molding">
<option value="Scotia Floor Beading / Edging">
<option value="Quadrant Floor Beading / Edging">
<option value="Floor Repair Kit">
<option value="Whitewash or Limewash paint">
<option value="Distemper Paint">
<option value="Cement Based Paint">
<option value="Oil Paint">
<option value="Enamel Paint / Gloss & Semi-Gloss">
<option value="Emulsion Paint / Matte Paint">
<option value="Textured Paint">
<option value="Metallic Paint">
<option value="Aluminium Paint">
<option value="Latex Paint">
<option value="Silicone Paint">
<option value="Fungicidal Paint">
<option value="Epoxy Paint">
<option value="Luminous Paint">
<option value="Anti-Condensation paint">
<option value="Oil-based Primer">
<option value="Latex / Acrylic Primer">
<option value="Shellac Primer">
<option value="White Cement based Wall Putty">
<option value="Acrylic Putty">
<option value="Door Handles & Knobs">
<option value="Door Lock">
<option value="Steel Stair Railing">
<option value="Aluminium Stair Railing">
<option value="Wooden Stair Railing">
<option value="Glass Stair Railing">
<option value="Cable Stair Railing">
<option value="Staircase Handrail">
<option value="Door & Window Hinges">
<option value="Door Closer">
<option value="Curtain Rod">
<option value="Curtain Rings">
<option value="Smoke Detector">
<option value="Curtain Holdbacks">
<option value="Curtain Wall Bracket">
<option value="Curtain Finial">
<option value="Curtain Hooks">
<option value="Nails & Screws">
<option value="Ladders & Stools">
<option value="Modular Kitchen">
<option value="Modular Wardrobe">
<option value="Modular Bath">
<option value="Bath Shower">
<option value="PPVC Reinforced Concrete">
<option value="PPVC Steel module">
<option value="Floor Mounted Water Tap">
<option value="Wall Mounted Water Tap">
<option value="Bath & Shower Mixed Water Tap">
<option value="Pillar Water Tap">
<option value="Fibre Cement Roofing Sheet">
<option value="Polycarbonate Roofing Sheet">
<option value="Insulated Roofing Sheet">
<option value="Clay Roof Tiles">
<option value="Aluminium Roofing">
<option value="Steel Roofing">
<option value="Zinc Roofing">
<option value="Tin Roofing">
<option value="Copper Roofing">
<option value="Solar Roofing">
<option value="Roof Ridge Accessory">
<option value="Roofing AccessoryGabble End Flashing">
<option value="Roofing Accessory Corner Flashing">
<option value="Roofing Accessory Gutter">
<option value="North Light Curvature Roof">
<option value="Roofing Accessory Bird Spikes">