<div class="col d-none d-lg-block" style="max-width: 19%;padding-left: 5px;">
    <div class="list-group"
        style="margin-left: 25px;margin-top: 10px;border-right: 1px solid rgb(221,221,221);">
        <a href="/"><button class="list-group-item list-group-item-action"
                style="border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;background: transparent;"><i
                    class="fa fa-home"
                    style="margin-left: 5px;margin-right: 5px;"></i><span>Home</span></button></a>
        
        <button class="list-group-item list-group-item-action border-white accordion expanded"
            style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                class="material-icons"
                style="margin-left: 5px;margin-right: 5px;font-size: 16px;">shopping_cart</i><span>Orders</span></button>
        <div class="panel">
            <a href="/orders/current-orders/"><button
                    class="list-group-item list-group-item-action border-white"
                    style="background: transparent;border-style: none;padding: 10px 10px 2px 25px;font-size: 14px;"><i
                        class="material-icons"
                        style="margin-left: 5px;margin-right: 5px;font-size: 16px;">shopping_cart</i><span>Current
                        Orders</span></button></a>
            <a href="/orders/past-orders/"><button
                    class="list-group-item list-group-item-action border-white"
                    style="background: transparent;border-style: none;padding: 10px 10px 2px 25px;font-size: 14px;"><i
                        class="material-icons"
                        style="margin-left: 5px;margin-right: 5px;font-size: 16px;">shopping_cart</i><span>Past
                        Orders</span></button></a>
        </div>
        <button class="list-group-item list-group-item-action border-white accordion expanded"
            style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                class="icon ion-cube"
                style="margin-left: 5px;margin-right: 5px;"></i><span>Products</span></button>
        <div class="panel">
            <a href="/inventory/add-new-product/"><button
                    class="list-group-item list-group-item-action border-white"
                    style="background: transparent;border-style: none;padding: 10px 10px 2px 25px;font-size: 14px;"><i
                        class="icon ion-cube"
                        style="margin-left: 5px;margin-right: 5px;"></i><span>Add new
                        Product</span></button></a>
            <a href="/inventory/active-products/"><button
                    class="list-group-item list-group-item-action border-white"
                    style="background: transparent;border-style: none;padding: 10px 10px 2px 25px;font-size: 14px;"><i
                        class="icon ion-cube"
                        style="margin-left: 5px;margin-right: 5px;"></i><span>Active
                        Products</span></button></a>
        </div>
        <a href="/payments/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-cash-register"
                    style="margin-left: 5px;margin-right: 5px;font-size: 16px;"></i><span>Payment
                    History</span></button></a>
        <a href="/reportandperformance/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-file-signature"
                    style="margin-left: 5px;margin-right: 5px;font-size: 16px;"></i><span>Reports
                    &amp; Performance</span></button></a>
        <a href="/customer-reviews/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="material-icons"
                    style="margin-left: 5px;margin-right: 5px;font-size: 17px;">rate_review</i><span>Customer
                    Reviews</span></button></a>
        
        <a href="/contact-us/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="material-icons"
                    style="margin-left: 5px;margin-right: 5px;font-size: 16px;">contact_mail</i><span>Contact
                    Us</span></button></a>
         
        <h6 style="font-weight: 900; padding-top: 20px;">LEGAL</h6>
        <a href="/faq/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-question-circle"
                    style="margin-left: 5px;margin-right: 5px;"></i><span>General
                    FAQ's</span></button></a>
        <a href="/policy/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-vote-yea"
                    style="margin-left: 5px;margin-right: 5px;"></i><span>Policies</span></button></a>
        <a href="/marketplace/"><button
                class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 3px 10px 2px 0px;font-size: 14px;"><i
                    class="icon ion-document-text"
                    style="margin-left: 5px;margin-right: 5px;font-size: 20px;"></i><span>Seller
                    Agreement</span></button></a>

        <a href="/guidelines/"><button
                class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-book-reader"
                    style="margin-left: 5px;margin-right: 5px;"></i><span>Seller
                    Guidelines</span></button></a>

        <a href="/terms/"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fas fa-business-time"
                    style=" margin-left: 5px; margin-right: 5px;"></i><span>Terms Of
                    use</span></button></a>

        <h6 style="font-weight: 900; padding-top: 20px;">SOCIAL HANDLES</h6>
        <hr style="margin: 0px;width: 80%;">

        <a href="https://www.facebook.com/Seventh-Square-101727191683337/"
            target="_blank"><button class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fab fa-facebook-f"
                    style="margin-left: 5px;margin-right: 5px; font-size: 15px;"></i><span>Facebook&nbsp;</span></button></a>
        <a href="https://www.instagram.com/seventhsquare/" target="_blank"><button
                class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="icon ion-social-instagram"
                    style="font-size: 20px; margin-left: 5px;margin-right: 5px;"></i><span>Instagram</span></button></a>

        <a href="https://www.linkedin.com/company/seventh-square" target="_blank"><button
                class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fab fa-linkedin-in"
                    style=" margin-left: 5px;margin-right: 5px;font-size: 15px;"></i><span>LinkedIn</span></button></a>

        <a href="https://www.instagram.com/seventhsquare/" target="_blank"><button
                class="list-group-item list-group-item-action border-white"
                style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                    class="fab fa-pinterest-p"
                    style="font-size: 20px; margin-left: 5px;margin-right: 5px;"></i><span>Pinterest</span></button></a>

        <button class="list-group-item list-group-item-action border-white"
            style="background: transparent;border-style: none;padding: 10px 10px 2px 0px;font-size: 14px;"><i
                class="fab fa-twitter"
                style=" margin-left: 5px; margin-right: 5px;"></i><span>Twitter</span></button>
    </div>
</div>
