<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="Serviced Regions Field shows your product to customers only in the selected States & Union Territories. Use this when you are a regional manufacturer or your product is sold in certain regions only.

  ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Adding New Product: Serviced Regions | Seller Blog | Seventh Square</title>

  {% include "styles.html" %}
  {% include "navigation.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog/" style="color:#01011e">Blog</a></li>
      <li class="breadcrumb-item"><a href="/seller-help/" id="last2word" style="color:#01011e">Seller Help</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
    <div class="col-1 col-md-3"></div>
    <div class="col">
        <h2 class="text-center text-capitalize"
            style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
            Adding New Product : Serviced Regions
</h2>
        <div class="text-center"
            style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
            FEB 01, 2021 <br> By - <strong
                style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
                Square</strong>
        </div>
        <img src="/static/staticfiles/img/blog/Seller-Help5.png" alt="" style="width: 100%;margin: 20px 0px;">
        <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">Serviced Regions Field shows your product to customers only in the selected States & Union Territories. 

        </p>
        <p>How does it help you?
        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Serviced Regions is useful in the following cases:

            </strong>
        </h2>
<ol >
    <li>You are a regional or local player manufacturing bulky products like Cement, Bricks, Steel, Aggregates, etc.

    </li>
    <li>Your Product is suitable for certain regions only.

    </li>
</ol>
<h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
    <strong style="font-family: 'Crimson Text', serif;">How to use it?
    </strong>
</h2>
<p>Input names of all the States & UTs you wish to deliver your product to. Once you start typing, we’ll show you recommendations for the same. 
    
    
    
  </p>
  <p>If you’re a national player or wish to deliver your products nationally through our platform, you can either leave it blank or enter ‘PAN India’ .<a href="https://services.gst.gov.in/services/searchhsnsac">here</a>   too. <br>
    Please connect with our <a href="mailto:seller@seventhsq.com">seller help team</a> in case of any queries. </p>
           </div>
    <div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>