<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="RFxs are business communications under the family of ‘Request for’. These are used in procurement and help in efficient transactions.
  At Seventh Square, to make procurement for buyers much more efficient & organised, we have included several RFxs
  

  ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>RFx services for Building Materials Procurement | Seller Blog | Seventh Square</title>

  {% include "styles.html" %}
  {% include "navigation.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog/" style="color:#01011e">Blog</a></li>
      <li class="breadcrumb-item"><a href="/seller-help/" id="last2word" style="color:#01011e">Seller Help</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
    <div class="col-1 col-md-3"></div>
    <div class="col">
        <h2 class="text-center text-capitalize"
            style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
            What is RFx ? How does it help me?
</h2>
        <div class="text-center"
            style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
            FEB 01, 2021 <br> By - <strong
                style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
                Square</strong>
        </div>
        <img src="/static/staticfiles/img/blog/SellerHelp6.png" alt="" style="width: 100%;margin: 20px 0px;">
        <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">RFxs are business communications under the family of ‘Request for’. These are used in procurement and help in efficient transactions.
        </p>
        <p>At Seventh Square, to make procurement for buyers much more efficient & organised, we have included several RFxs :
        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Request for Quotation
            </strong>
        </h2>
        <p>Request for Quotation is used when you want to get price quotes for a fixed quantity from a certain set of suppliers. This is also helpful in cases of customized products like PEB, Automation, Flooring, etc. As sellers, you can state your pricing for a certain quantity with detailed specifications that the buyer wants to buy .
        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Request for Proposal
            </strong>
        </h2>
        <p>When buyers require a certain service and/or product and are open to exploring offers from several different vendors, RFP is an ideal option. An RFP helps buyers get offers from several different vendors who are willing to service their requirements with specified details about the products, services & price offered. As a seller, you can respond to the RFP in the dashboard itself.
        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Request for Information
            </strong>
        </h2>
        <p>An RFI is purely informational and is used to obtain information about a certain product, vendor or a particular requirement. This is very helpful as buyers are much more interested once they have complete information as per their requirements. Answer as many RFIs as you can in the dashboard. 

        </p>
        <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
            <strong style="font-family: 'Crimson Text', serif;">Blanket Purchase Orders

            </strong>
        </h2>
        <p>Blanket POs help bigger projects streamline their procurement. When buyers are working on a large project, the project timeline is for years. Many products have dynamic pricing in the building materials market. Thus, Blanket PO helps them procure building materials in multiple orders for the same price and other specifications set in the PO. As a seller, this helps you in securing large orders with legally binding purchase orders
        </p>

        <p>To get help with responding to RFx and Blanket PO, please reach out to us at <a href="mailto:seller@seventhsq.com">seller@seventhsq.com</a>     
        </p>
    </div>
    <div class="col-1 col-md-3"></div>

<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>