<option selected value="" style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Choose Unit</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Bag</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Metric Ton</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Kilogram</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Tanker Truck</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Piece</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Bundle</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Cubic Foot</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Square Foot</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Cubic Meter</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Sheet</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Meter</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">set</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Litre</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Kit</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Can</option>
                                            <option style=" margin:0px!important;width:80px; border: 1px solid lightgray;border-radius: 1px;
                                                                        ">Foot</option>